$panel-colour: rgb(87, 87, 87);

.panels {
  min-height: 40rem;

  .shaded {
    background-image: linear-gradient(to right, gray, $panel-colour, $panel-colour);
  }

  .shaded-panel {
    height: 100%;
  }

  .panel-container {
    background: $panel-colour;
  }
}