.panel {
  .nav-folder {
    margin-left: 2px;
    cursor: pointer;
  }

  .nav-page-link {
    margin-left: 5px;
  }

  .icon {
    color: black;
    display: inline;

    position: relative;
    /* Adjust these values accordingly */
    top: 5px;
  }
}
